<nav class="navbar navbar-expand-lg navbar-light nav-style" >
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="#">
        <img src="../../../assets/header-logo/pngimg.com - piggy_bank_PNG116.png" alt=""
          class="image-style" width="50" height="54">
      </a>
      <a class="navbar-brand" href="#">Expenses Analyser</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div>
      <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"><i class="fa-solid fa-bars fa-lg menu-icon" data-bs-toggle="offcanvas" data-bs-target="#menu-offcanvas" aria-controls="menu-offcanvas"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<div class="offcanvas offcanvas-end off-style" tabindex="-1" id="menu-offcanvas" aria-labelledby="menu-offcanvas" >
  <div class="offcanvas-header">
    
    <h5 id="menu-offcanvas" style="text-decoration: none;"></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body ">
    <div class="profile-details">
      <img class="profile-style" src="../../../assets/profile/bussiness-man.png" alt="">
      <h3 style="text-align:center ; margin-top:5%">Shanmukh Sai Komma</h3>
    </div>
    <div class=card-menu >
      <div class="card " style="margin-bottom:5%">
        <div class="card-body menu-item " >
          <i class="fa-solid float-left icon-tips fa-user-tie" ></i>
          Account
        </div>
      </div>
      <div class="card " style="margin-bottom:5%">
        <div class="card-body menu-item">
          <i class="fa-solid float-left icon-tips fa-chart-pie "></i>
          Categories
        </div>
      </div>
      <div class="card " style="margin-bottom:5%">
        <div class="card-body menu-item">
          <i class="fa-solid float-left icon-tips fa-gear"></i>
          Settings
        </div>
      </div>
      <div class="card " style="margin-bottom:5%">
        <div class="card-body menu-item">
          <i class="fa-solid float-left icon-tips fa-phone"></i>
          Contact
        </div>
      </div>
    </div>

  </div>
</div>