.card2 {
    background-color: #94daff6f;
    height: 200px;
    // width: 365px
}

#divChart {
    display: block;

}

.my-chart-2-display {
    display: block;
    box-sizing: border-box;
    height: 190px;
    // width: 370px;
}