.card {
    height: 94px;
}

.outer-card {

    border: transparent
}

.card3 {
    height: 410px;
    // width: 750px;
}

.card4-height {
    height: 378px
}

.container-style {
    height: 341px;
    border-radius: 2%;
}

.min-boxes {
    height: 85px;
}

.tot_inc {
    background-color: #94DAFF;
    border: #2563eb;
}

.bst_inc {
    background-color: #f7f8f9;
    border: #96caf5 solid 3px;
}

.tot_exp {
    background-color: #f7f8f9;
    border: #96caf5 solid 3px;
}

.bst_exp {
    background-color: #94DAFF;
    border: #2563eb;
}

.card-body {
    text-align: center;
}