<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="tot_inc min-boxes card col mt-2">
            <div class="card-body ">
                <p class="card-title">Total Income</p>
                <h5 class="card-text">₹14700</h5>
            </div>
        </div>
        <div class="min-boxes bst_inc card col mt-2">
            <div class="card-body">
                <div class="card-title">Best Income Source</div>
                <div>
                    <h5 class="card-title">Tuitions</h5>
                </div>
            </div>
        </div>
        <div class=" card min-boxes bst_exp col mt-2">
            <div class="card-body">
                <div class="card-title">Total Expenses</div>
                <div>
                    <h5 class="card-title">₹7400</h5>
                </div>
            </div>
        </div>

        <div class="min-boxes card tot_exp col mt-2">
            <div class="card-body">
                <p class="card-title">Most Spent On</p>
                <h5 class="card-text">Shopping</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="card  card4-height" style="background-color:#82cff879">
            <div class="card-body">
                <div id="container" class="container-style"></div>
            </div>
        </div>
    </div>
</div>